@import 'src/styles/color-constants.scss';

mat-dialog-container {
  width: 550px;
}

mat-form-field {
  display: block;
}

.instructions {
  margin-bottom: 5px;
}

.after-code-instructions {
  margin-top: 8px;
}

.title {
  color: $geneicd-blue;
}

.verification-code-button {
  color: white;
  background-color: $geneicd-green-dark;
}

.code-sent-message {
  margin-left: 8px;
}

.password-instructions {
  color: $geneicd-blue;
}
