<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="home" *ngIf="isAuthenticated | async">
      <mat-icon>Home</mat-icon>
      Home
    </button>
    <button
      mat-menu-item
      routerLink="labProfile"
      *ngIf="isAuthenticated | async"
    >
      <mat-icon>Home</mat-icon>
      Lab Profile
    </button>
    <button
      mat-menu-item
      routerLink="testProfile"
      *ngIf="isAuthenticated | async"
    >
      <mat-icon>Home</mat-icon>
      Test Profile
    </button>
    <button mat-menu-item (click)="aboutRequested()">
      <mat-icon>help_outline</mat-icon>
      About
    </button>
    <button
      mat-menu-item
      (click)="logoutRequested()"
      *ngIf="isAuthenticated | async"
    >
      <mat-icon>power_settings_new</mat-icon>Sign out
    </button>
  </mat-menu>
  <span mat-body-2>{{ title }}</span>
  <span class="toolbar-spacer"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button (click)="aboutRequested()">
      <mat-icon>help_outline</mat-icon>
      About
    </button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>

  <button
    mat-menu-item
    class="signout-btn"
    (click)="logoutRequested()"
    *ngIf="isAuthenticated | async"
  >
    <mat-icon>power_settings_new</mat-icon>Sign out
  </button>
</mat-toolbar>
