// color constants

$geneicd-blue: #1b3d84; // material design theme primary color
$geneicd-blue-dark: #042462; // website primary color
$geneicd-blue-light: #6e82b5;
$geneicd-blue-medium: #2b4e99;

$geneicd-green: #0ce542; // material design theme accent color
$geneicd-green-dark: #00a924;
$geneicd-green-light: #56ea63;

$geneicd-magenta: #e50cad; // website accent color
$geneicd-magenta-dark: #bb0099;
$geneicd-magenta-light: #ec55bd;

$geneicd-red: #e5200c; // material design theme warning color
$geneicd-red-dark: #cd0000;
$geneicd-red-light: #ff3218;
